@use "src/assets/styles/variables" as *;

.wrapper {
  padding: $defaultPadding;

  &_title {
    display: flex;
    align-items: center;
    height: 80px;
    color: $accentColor;
  }

  &__content {
    background-color: $primaryColor;
    border-radius: 20px;
  }
}
