@use "variables" as *;

.mdc-checkbox {
  --mdc-checkbox-state-layer-size: 36px;

  --mdc-checkbox-unselected-icon-color: #{$checkBoxUnselected};
  --mdc-checkbox-unselected-hover-icon-color: #{$checkBoxUnselected};
  --mdc-checkbox-unselected-focus-icon-color: #{$checkBoxUnselected};
  // В макете не было ripple, поэтому убрал
  --mdc-checkbox-selected-focus-state-layer-color: transparent;
  --mdc-checkbox-selected-hover-state-layer-color: transparent;
  --mdc-checkbox-selected-pressed-state-layer-color: transparent;
  --mdc-checkbox-unselected-focus-state-layer-color: transparent;
  --mdc-checkbox-unselected-hover-state-layer-color: transparent;
  --mdc-checkbox-unselected-pressed-state-layer-color: transparent;
}

.mat-mdc-icon-button {
  .mat-icon {
    height: 18px;
    width: 18px;
  }

  &.mat-mdc-button-base {
    --mdc-icon-button-icon-size: 18px;
    --mdc-icon-button-state-layer-size: 36px;
    padding: calc(var(--mdc-icon-button-icon-size) / 2);
  }

  &[disabled][disabled] {
    --mdc-icon-button-disabled-icon-color: #{$iconDisabled};
  }

  &.mat-accent {
    --mdc-icon-button-icon-color: #{$iconDefault};

    &:hover {
      background-color: $iconHover;
    }
  }
}

.mat-mdc-table {
  border-radius: 20px;
  overflow: hidden;
}

.mat-mdc-header-row {
  --mat-table-header-headline-color: #{$accentAltColor};
}

.mat-mdc-row {
  padding: 0 16px;

  &.selected {
    background-color: $primaryColor;
  }

  &:hover {
    background-color: #F6F9FF;
  }
}

.mat-column-select {
  width: 52px;
  padding-right: 0;
}

.mat-mdc-cell {
  span:hover {
    text-decoration: underline;
    color: $accentAltColor;
    cursor: pointer;
  }
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 20px !important;
}

.mat-mdc-form-field {
  --mdc-outlined-text-field-caret-color: #{$themeBlack};
  --mdc-outlined-text-field-label-text-color: #BBC5C9;
  --mdc-outlined-text-field-outline-color: #BBC5C9;

  --mdc-outlined-text-field-focus-label-text-color: #{$accentColor};
  --mdc-outlined-text-field-focus-outline-color: #{$accentColor};

  --mat-form-field-subscript-text-size: 12px;

  .mdc-text-field--outlined {
    --mdc-outlined-text-field-focus-outline-width: 1px;

    &:not(.mdc-text-field--disabled) {
      .mdc-floating-label--float-above {
        --mdc-outlined-text-field-label-text-color: #{$themeBlack};
      }

      &:has(.mdc-floating-label--float-above) { // либо .mat-mdc-form-field.ng-dirty , но будет выделять и без значения, либо навешивать класс по условию
        --mdc-outlined-text-field-outline-color: #{$themeBlack};
      }
    }
  }

  mat-error {
    text-align: right;
  }
}

.mat-mdc-button, .mdc-button--unelevated {
  --mdc-text-button-container-shape: 36px;
  --mdc-filled-button-container-shape: 36px;

  &.mat-mdc-button-base {
    padding: 24px 16px;
  }
}

.mat-mdc-unelevated-button[disabled][disabled] {
  --mdc-filled-button-disabled-container-color: #{$buttonDisabled};
  --mdc-filled-button-disabled-label-text-color: white;
}
