$defaultPadding: 1em;

$themeBlack: #231F20;
$primaryColor: #FFFFFF;
$primaryAltColor: #E9F3FF;
$accentColor: #2F7FD5;
$accentAltColor: #2F4C97;
$warnColor: #DA1B1B;

$buttonDefault: #2F67D5;
$buttonHover: #3C7CF8;
$buttonFocus: #194EB6;
$buttonDisabled: #D8DEE9;

$buttonAltDefault: transparent;
$buttonAltHover: rgba(60, 124, 248, 0.1);
$buttonAltFocus: rgba(25, 78, 182, 0.2);

$iconDefault: #304879;
$iconHover: #E2EEFF;
$iconDisabled: #A8B0BF;

$checkBoxUnselected: #DADADA;
